// .header {
//   overflow: hidden;
// }

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar {
  padding: 15px 0;
  background: lighten($accent, 40);
  transition: all .3s ease-in-out;

  &.fixed {
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: rgba($mainColor, .2) 0 10px 10px -10px;
    transition: all .3s ease-in-out;
  }
}

.logo {
  max-width: 100%;
}

// BURGER

.burger {
  position: relative;
  z-index: 10;
  display: none;
  margin: 0 0 0 15px;
  width: 36px;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
  transition: all .3s ease-in-out;

  & span {
    position: absolute;
    top: 50%;
    display: block;
    width: 36px;
    height: 4px;
    border-radius: 2px;
    background: $mainColor;
    transition: all .3s ease-in-out;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);

    &::before {
      position: absolute;
      top: -9px;
      width: 36px;
      height: 4px;
      border-radius: 2px;
      background: $mainColor;
      content: "";
      transition: all .3s ease-in-out;
    }

    &::after {
      position: absolute;
      top: 9px;
      width: 36px;
      height: 4px;
      border-radius: 2px;
      background: $mainColor;
      content: "";
      transition: all .3s ease-in-out;
    }
  }

  &:hover {
    transition: all .3s ease-in-out;

    & span {
      background: $burgerActiveColor;
      transition: all .3s ease-in-out;

      &::before {
        top: -12px;
        background: $burgerActiveColor;
        transition: all .3s ease-in-out;
      }

      &::after {
        top: 12px;
        background: $burgerActiveColor;
        transition: all .3s ease-in-out;
      }
    }
  }

  &.active {
    transition: all .3s ease-in-out;

    &:hover {
      transition: all .3s ease-in-out;
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }

    span {
      background-color: transparent;
      transition: all .3s ease-in-out;

      &:before {
        top: 0;
        width: 36px;
        background-color: $burgerActiveColor;
        transition: all .3s ease-in-out;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
      }

      &:after {
        top: 0;
        width: 36px;
        background-color: $burgerActiveColor;
        transition: all .3s ease-in-out;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
      }
    }
  }
}

@media screen and (max-width: $breakpointBurger) {
  .burger {
    display: block;
  }
}